.card {
    background-color: white;
    width: 30vw;
    height: 40vh;
    border-radius: 25px;
    min-width: 350px;
    min-height: 200px;
}

.contents {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    border-radius: 25px;
}

.card:hover .contents {
    transform: rotateX(-180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 25px;
    overflow-y: scroll;
    overflow-x: scroll;
    text-align: center;
}

.front {
    background-color: white;
    color: black;
    text-align: center;
}

.back {
    background-color: white;
    color: black;
    transform: rotateX(-180deg);
}

.front > h1 {
    font-size: 3.5em;
    color: black;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.back > ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

.back > h2 {
    text-align: center;
    font-size: 2em;
}

.back > ul > li {
    font-size: 2em;
    padding-bottom: 10px;
}

.back > ul > li:nth-child(2n + 1) {
    color: black;
}

.back > ul > li:nth-child(2n) {
    color: gray;
}