HashRouter {
    height: 100%;
    width: 100%;
    overflow: scroll;
}

ul.navbar-main {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}
  
ul.navbar-main > li {
    float: left;
    font-size: 1.2em;
}

ul.navbar-main > li:hover {
    cursor: pointer;
    background-color: white;
}

ul > li > .nav-link {
    text-decoration: none;
    color: white;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 1.2em;
}

ul > li:hover > .nav-link {
    text-decoration: none;
    color: black;
}
