div.project > div.personal > h1 {
    margin: 0;
}

div.project > div.personal:last-child {
    margin-bottom: 3vh;
}

div.project > div.personal > div > h2, div.project > div.personal > div > p, div.project > div.personal > div > div {
    margin: 0px;
    margin-bottom: 10px;
    text-align: center;
}

div.project > div.personal > div > p {
    margin-bottom: 10px;
    margin-right: 3vw;
    margin-left: 3vw;
}

div.project > div.personal > div > div {
    margin-bottom: 20px;
}

div.project > div.personal > div > div > a {
    margin-top: 1vh;
    text-decoration: none;
    background-color: black;
    color: #E9EFC0;
    padding: 5px;
}

div.project > div.personal > div > div > a:hover {
    background-color: #E9EFC0;
    color: black;
    cursor: pointer;
}
