div.social {
    left: 0px;
    bottom: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-left: 2vw;
}

div.social > ul {
    list-style-type: none;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    margin: 0px;
    padding-left: 0px;
}

div.social > ul > li > a {
    margin: 0px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 10px;
    font-size: 30px;
    color: white;
    text-decoration: none;
    height: 4vh;
}

div.social > ul > li > a:hover {
    color: rgb(200, 200, 6);
}