div.we > div > h2 {
    font-size: 1.5em;
    font-weight: 500;
}

div.we > div > h2 > b {
    font-weight: bold;
}

div.we > div:first-of-type{
    margin-top: 10px;
}

div.we > div {
    margin-left: 2vw;
    margin-bottom: 2vh;
}

div.we > div > ul {
    list-style: none;
    margin: 0;
}

div.we > div > h2 {
    margin: 0;
}

div.we > div > ul > li {
    margin-top: 0.5vh;
}

div.we > div > ul > li::before {
    content: "•";
    color: black;
    display: inline-block; 
    width: 1em;
    margin-left: -1em
}